        body {
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .layout {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .baris-kursi {
            background-color: lightgray;
            height: 22px;
            width: 50px;
            margin: 4px;
            text-align: center;
        }
        
        .kursi {
            background-color: lightgray;
            height: 22px;
            width: 50px;
            margin: 4px;
            text-align: center;
        }
        
        .kursi.dipilih {
            background-color: lightgreen;
        }
        
        .kursi.penuh {
            background-color: rgb(0, 119, 255);
        }
        
        .hide {
            display: none;
        }
        
        .baris {
            display: flex;
        }
        
        h1 {
            text-align: center;
        }